node_modules/
dist/
.env
.env.docker
.env.local
.env.*.local
.env.docker.local
*.log
.DS_Store

script/seed-admin.js
script/seed-courier-rate-cards.js

# Docker
docker-compose.override.yml

# Coverage
coverage/
.nyc_output/

uploads/
